* {
  /* margin: 0;
  padding: 0; */
  text-align: center;
  /* align-items: center; */
  align-content: center;
  /* align-self: center; */
}

.tableInfo {
  /* letter-spacing: 2px; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

img {
  /* justify-content: left; */
  /* margin: 0; */
}

table {
  /* margin: 0; */
  /* border-collapse: separate; */
  border-spacing: 80px 1px;
}

td {
  border-spacing: 50px 0px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.tableInfo td,
.tableInfo th {
  border: 2px solid rgb(6, 119, 85);
  padding: 8px;
}

.tableInfo tr:hover {
  background-color: #ddd;
}

.tableInfo th {
  letter-spacing: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
